---
layout: archive
title: "Tools/工具资源"
permalink: /tools/
author_profile: true
---

{% include base_path %}

<h2>GMT/GMTSAR 使用</h2>
<hr>

{% for post in site.tools %}
  {% if post.categories contains "GMT" or post.categories contains "GMTSAR使用" %}
    <div class="archive__item">
      <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
        <h2 class="archive__item-title" itemprop="headline">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        
        {% if post.excerpt %}
          <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
        {% endif %}
      </article>
    </div>
  {% endif %}
{% endfor %}

<h2>季节性形变拟合</h2>
<hr>

{% for post in site.tools %}
  {% if post.categories contains "seasonal" %}
    <div class="archive__item">
      <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
        <h2 class="archive__item-title" itemprop="headline">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        
        {% if post.excerpt %}
          <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
        {% endif %}
      </article>
    </div>
  {% endif %}
{% endfor %}

<h2>小波变换</h2>
<hr>

{% for post in site.tools %}
  {% if post.categories contains "CWT" %}
    <div class="archive__item">
      <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
        <h2 class="archive__item-title" itemprop="headline">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        
        {% if post.excerpt %}
          <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
        {% endif %}
      </article>
    </div>
  {% endif %}
{% endfor %}
